@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Poppins', sans-serif;
  background: #212121;
  margin-bottom: 150px;
}

.main-head {
  top: 13%;
  position: absolute;
  width: 100%;
  border: 1px solid black;
  background-color: #0D7377;
}

.head {
  margin-left: 300px;
  padding: 150px 50px;
  text-align: center;
  /* border: 1px solid black; */
}
.head h1 {
  font-size: 55px;
  margin-bottom: 15px;
  color: white;
}
.head a {
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.head label {
  color: white;
}

.main-content {
  margin-top: 515px;
  padding: 50px 50px;
  min-width: 100%;
  box-sizing: border-box;
}
.main-content img {
  float: left;
  height: 88vh;
  margin-right: 50px;
}
.main-content:after {
  content: "";
  display: table;
  clear: both;
}
.main-content p {
  padding: 370px 0;
  font-size: 25px;
  /* border: 1px solid black; */
}

.main-maps h1 {
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}
.main-maps iframe {
  padding-left: 20%;
  padding-right: 20%;
  width: 100%;
  height: 500px;
}

.container {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
}

.card-wrapper {
  width: 400px;
  height: 500px;
  position: relative;
}

.card {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 350px;
  height: 450px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;
}
.card .card-image {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  transition: 0.5s;
}
.card:hover img {
  opacity: 0.4;
  transition: 0.5s;
}

.card:hover .card-image {
  transform: translateY(-100px);
  transition: all 0.9s;
}

/**** Header *****/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  padding: 10px 50px;
  z-index: 1;
}

nav {
  position: fixed;
  top: 5%;
  left: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  padding: 10px 50px;
  z-index: 1;
}

header.sticky {
  padding: 5px 10px;
  background-color: #232323;
}

nav.sticky-nav {
  padding: 5px 10px;
  background-color: #232323;
}

nav.sticky-nav ul li a {
  color: white;
}

header .logo {
  position: relative;
  width: 110px;
  left: 20px;
  height: 100px;
  float: left;
}

nav ul {
  position: relative;
  display: flex;
  align-items: center;
}

nav ul li {
  position: relative;
  list-style: none;
}

nav ul li a{
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #06c4ba;
}
/**** Social Icons *****/
.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
}
.social-icons li {
  list-style: none;
}
.social-icons li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  font-size: 23px;
  color: #333;
  font-weight: bold;
  margin: 0 6px;
  transition: 0.4s;
  transform: translateY(200px);
  opacity: 0;
}

.card:hover .social-icons li a {
  transform: translateY(0px);
  opacity: 1;
}

.social-icons li a:hover {
  background: #000;
  transition: 0.2s;
}
.social-icons li a:hover .fab {
  color: #fff;
}

.social-icons li a .fab {
  transition: 0.8s;
}
.social-icons li a .fab:hover {
  transform: rotateY(360deg);
  color: #fff;
}

.card:hover li:nth-child(1) a {
  transition-delay: 0.1s;
}

.card:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}

.card:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}

.card:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

/**** Personal Details ****/
.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;
}
.details h2 {
  margin: 30px 0;
  padding: 0;
  text-align: center;
}
.details h2 .job-title {
  font-size: 1rem;
  line-height: 2.5rem;
  color: #333;
  font-weight: 300;
}

.jane {
  position: absolute;
  bottom: -120px;
  left: 0;
  opacity: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 3;
  padding: 10px;
  transition: 0.4s;
}

.profile-two .social-icons li a {
  border-radius: 50%;
}

.card:hover .profile-img--two {
  transform: rotateY(180deg);
}

.card:hover .jane {
  bottom: 0;
  left: 0;
  transition-delay: 0.5s;
  opacity: 1;
}

#main-text {
  position: absolute;
  left: 34%;
  top: 60%;
  text-align: justify;
  text-justify: inter-word;
  color: white;
}

/* FOOTER */

footer {
  width: 100%;
  height: auto;
  background-color: #000;
  padding-top: 70px;
}

.copyright {
  color: #fff;
  background-color: rgb(30, 30, 30);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .grid-footer {
  margin-bottom: 200px; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer .col-footer {
  width: 300px;
  height: 200px;
  /* background-color: #fff; */
}

footer .title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

.logo-footer {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.text {
  color: #fff;
  text-align: justify;
  width: 250px !important;
}

.text1 a {
  color: #fff;
  text-decoration: none;
}

.text1 {
  margin-bottom: 20px;
  color: #fff;
}

.text1 a:hover {
  color: #06c4ba;
}

.icon a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  padding: 10px;
}

.icon a:hover {
  color: #06c4ba;
}